{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href={% static "base.css" %}>
    <style>
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
    </style>

</head>

<body >
<div class="content ">

<nav  style="font-family: 'Libre Baskerville', serif;" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">Art Gallery</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'url-PaintingList' %}">Paintings <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'url-ArtistList' %}">Artists <span class="sr-only"></span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'url-CustomerList' %}">Customers <span class="sr-only"></span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'url-Exhibitions' %}">Exhibitions <span class="sr-only"></span></a>
      </li>
    </ul>
    </div>
    <div class="justify-content-end " >
      <ul style="list-style: none">
          {% if request.user.is_authenticated %}
      <li class = "nav-item"> Hello, {{ request.user }}</li>
      <li class = "nav-item" ><a href="{% url 'User-Logout' %}"> Logout</a></li>
          {% else %}
{#      <li class="nav-item"><a href="{% url 'User-Registration' %}">Register</a></li>#}
      <li class = "nav-item"><a href="{% url 'User-Login' %}">Login</a></li>
           {% endif %}
      </ul>
    </div>
</nav>
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
        {% block content %}
        {% endblock %}
    </div>
</body>
<script src="https://kit.fontawesome.com/7c93f8d745.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
